<h1>Division</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @first_divide %></dd>

  <dt>Second number</dt>
  <dd><%= @second_divide %></dd>

  <dt>Result</dt>
  <dd><%= @result_div %></dd>
</dl>

<a href="/multiply">Do another division</a>
