<h1>New division</h1>

<form action="/wizard_divide">
  <label for="form_first_divide">
    Divide this:
  </label>
  <input id="form_first_divide" name="first_div" text="text">

  <label for="form_second_divide">
    by this:
  </label>
  <input id="form_second_divide" name="second_div" text="text">

  <button>
    Divide!
  </button>
</form>
