<h1>New multiplication</h1>

<form action="/wizard_multiply">
 <label for="form_first_mult">
    Multiply this:
  </label>
  <input id="form_first_mult" name="first_multiplication" text="text">

  To this:
   <label for="form_second_mult">
    by this:
  </label>
  <input id="form_second_mult" name="second_multiplication" text="text">

  <button>
    Multiply!
  </button>

</form>
