<h1>New multiplication</h1>

<form action="/multiply">
 <label for="first_mult">
    Multiply this:
  </label>
  <input id="first_mult" name="multiply_first" text="text">

  To this:
   <label for="second_mult">
    by this:
  </label>
  <input id="second_mult" name="multiply_again" text="text">

  <button>
    Multiply!
  </button>

</form>
