<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="form_first_num">
    Subtract this:
  </label>
  <input id="form_first_num" name="first_subtract" text="text">

  To this:
   <label for="form_sec_num">
    from this:
  </label>
  <input id="form_sec_num" name="second_subtract" text="text">

  <button>
    Subtract!
  </button>
</form>
